In [32]:
import pandas as pd
from datetime import datetime

# Will need to add the facility name mathcing also! and make sure tehcolumn name is facility_name, not facilityname

# And also rerun the pipeline to make sure I dont have typo in the set up csv files

In [33]:
data_path = "."
fname = 'report_data.csv'
fname_new = fname[:-4]+'_new.csv'
data = data_path + '/' + fname

In [34]:
df = pd.read_csv(data)

In [35]:
dict_hpv_typo = {'hpv2__ school':'hpv2__school','hpv1__ school':'hpv1__school'}

In [36]:
df=df.rename(columns=dict_hpv_typo)

In [37]:
df.to_csv(fname, index=False)

In [48]:
lookup = pd.read_csv('lookup_facilities.csv')

In [49]:
df = pd.merge(df, lookup[['facilitycode','facilityname']], left_on='orgUnit', right_on='facilitycode', how='left')

In [50]:
df=df[['districtname','date','year', 'month', 'orgUnit', 'facilityname','type','1st_anc_visits', '4th_anc_visits',
       'actual_105_1_reporting', 'anc_initiated_hiv', 'anc_tested_hiv',
       'anc_tested_hiv_positive', 'bcg__u1_all', 'bcg__u1_outreach',
       'bcg__u1_static', 'births', 'births_fresh_stillbirth', 'births_live',
       'births_macerated_stillbirth', 'dpt1__u1_all', 'dpt1__u1_outreach',
       'dpt1__u1_static', 'dpt3__u1_all', 'dpt3__u1_outreach',
       'dpt3__u1_static', 'expected_105_1_reporting', 'hiv_positive_linked',
       'hpv1__ school', 'hpv1__all-hpv', 'hpv1__community', 'hpv2__ school',
       'hpv2__all-hpv', 'hpv2__community', 'ipd_attendance',
       'low_weight_births', 'malaria_cases', 'malaria_cases_treated',
       'malaria_deaths', 'malaria_tests', 'mam_identified',
       'mat_initiated_hiv', 'mat_tested_hiv', 'mat_tested_hiv_positive',
       'maternity_admissions', 'mr1__u1_all', 'mr1__u1_outreach',
       'mr1__u1_static', 'newborn_deaths', 'opd_attendance', 'pcv1__u1_all',
       'pcv1__u1_outreach', 'pcv1__u1_static', 'pcv3__u1_all',
       'pcv3__u1_outreach', 'pcv3__u1_static', 'pnc_initiated_hiv',
       'pnc_tested_hiv', 'pnc_tested_hiv_positive', 'postnatal_visits',
       'sam_identified', 'tb_cases_registered', 'td1__nonpregnant',
       'td1__pregnant', 'td2__nonpregnant', 'td2__pregnant',
       'td3__nonpregnant', 'td3__pregnant', 'td4_5__nonpregnant',
       'td4_5__pregnant', 'tested_hiv', 'tested_hiv_positive', 'vitamin_a']]

In [37]:
df.head()

,districtname,date,year,month,orgUnit,facilityname,type,1st_anc_visits,4th_anc_visits,actual_105_1_reporting,...,td1__pregnant,td2__nonpregnant,td2__pregnant,td3__nonpregnant,td3__pregnant,td4_5__nonpregnant,td4_5__pregnant,tested_hiv,tested_hiv_positive,vitamin_a
0,WAKISO,2018-04-01,2018,Apr,A0KeWapELXA,HT Medical Clinic HCII,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WAKISO,2018-08-01,2018,Aug,A0KeWapELXA,HT Medical Clinic HCII,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WAKISO,2018-12-01,2018,Dec,A0KeWapELXA,HT Medical Clinic HCII,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WAKISO,2018-02-01,2018,Feb,A0KeWapELXA,HT Medical Clinic HCII,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WAKISO,2018-01-01,2018,Jan,A0KeWapELXA,HT Medical Clinic HCII,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df['date'] = df['year'].astype(str) + '-' + df['month']

In [61]:
def format_date(date):
    dates = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    assert len(dates) == 12
    year, month = date.split('-')
    month_order = str(dates.index(month)+1)
    month_order = '0' + month_order if len(month_order) == 1 else month_order
    return year + '-' + month_order + '-01'

In [62]:
df['date'] = df.date.apply(format_date)

In [63]:
df['type'] = ''

In [65]:
df = pd.merge(df, lookup, left_on='orgUnit', right_on='facilitycode', how='left')

In [66]:
rename_dict = {
    'districtname': 'id',
    'date': 'date',
    'year': 'year',
    'month': 'month',
    'orgUnit': 'facility_id',
    'type': 'type',
    '1st_anc_visits': '1st_anc_visits',
    '4th_anc_visits': '4th_anc_visits',
    'maternity_admissions' : 'maternity_admissions',
    'births':'deliveries_in_unit',
    'births_live': 'deliveries_in_unit_live',
    'births_fresh_stillbirth': 'deliveries_in_unit_fresh_stillbirth',
    'births_macerated_stillbirth': 'deliveries_in_unit_macerated_stillbirth',
    'newborn_deaths': 'newborn_deaths',
    'postnatal_visits': 'postnatal_visits',
    'low_weight_births': 'low_weigh_births',
    'bcg': 'bcg',
    'dpt1': 'dpt1',
    'dpt3': 'dpt3',
    'hpv1': 'hpv1',
    'hpv2': 'hpv2',
    'mr1': 'mr1',
    'pcv1': 'pcv1',
    'pcv3': 'pcv3',
    'td1': 'td1',
    'td2': 'td2',
    'td3': 'td3',
    'td4_5': 'td45',
    'malaria_cases': 'malaria_cases',
    'opd_attendance': 'opd_attendance',
    'malaria_cases_treated': 'malaria_cases_treated',
    'malaria_tests': 'malaria_tests',
    'mat_tested_hiv_positive': 'mat_tested_hiv_positive',
    'mat_tested_hiv': 'mat_tested_hiv',
    'malaria_deaths': 'malaria_deaths',
    'anc_tested_hiv': 'anc_tested_hiv',
    'anc_tested_hiv_positive': 'anc_tested_hiv_positive',
    'anc_initiated_hiv': 'anc_initiated_on_art',
    'tested_hiv': 'tested_hiv',
    'tested_hiv_positive': 'tested_hiv_positive',
    'hiv_positive_linked': 'hiv_positive_linked_to_care',
    'mat_initiated_hiv': 'mat_initiated_on_art',
    'pnc_tested_hiv': 'pnc_tested_hiv',
    'pnc_tested_hiv_positive': 'pnc_tested_hiv_positive',
    'pnc_initiated_hiv': 'pnc_initiated_on_art',
    'ipd_attendance': 'ipd_attendance',
    'tb_cases_registered': 'tb_cases_registered',
    'vitamin_a': 'number_of_doses_of_vitamin_a_distributed',
    'sam_identified': 'number_of_sam_admissions',
    'mam_identified' :'number_of_mam_admissions'    
    }

In [67]:
#df.rename(columns=rename_dict, inplace=True)

In [68]:
def replace_report(rep):
    rep_dict = {
        'not_expected_to_report': 'not_expected',
        'reported_on_this_indic': 'positive_indic',
        'did_not_report_on_this_indic': 'no_positive_indic',
        'did_not_report_on_this_indic_nor_on_105_1_form': 'no_form_report'
    }
    return rep_dict.get(rep, rep)

In [69]:
for col in df.columns:
    df[col] = df[col].apply(replace_report)

In [70]:
df=df[['districtname','date','year', 'month', 'orgUnit', 'facilityname','type','1st_anc_visits', '4th_anc_visits',
       'actual_105_1_reporting', 'anc_initiated_hiv', 'anc_tested_hiv',
       'anc_tested_hiv_positive', 'bcg__u1_all', 'bcg__u1_outreach',
       'bcg__u1_static', 'births', 'births_fresh_stillbirth', 'births_live',
       'births_macerated_stillbirth', 'dpt1__u1_all', 'dpt1__u1_outreach',
       'dpt1__u1_static', 'dpt3__u1_all', 'dpt3__u1_outreach',
       'dpt3__u1_static', 'expected_105_1_reporting', 'hiv_positive_linked',
       'hpv1__ school', 'hpv1__all-hpv', 'hpv1__community', 'hpv2__ school',
       'hpv2__all-hpv', 'hpv2__community', 'ipd_attendance',
       'low_weight_births', 'malaria_cases', 'malaria_cases_treated',
       'malaria_deaths', 'malaria_tests', 'mam_identified',
       'mat_initiated_hiv', 'mat_tested_hiv', 'mat_tested_hiv_positive',
       'maternity_admissions', 'mr1__u1_all', 'mr1__u1_outreach',
       'mr1__u1_static', 'newborn_deaths', 'opd_attendance', 'pcv1__u1_all',
       'pcv1__u1_outreach', 'pcv1__u1_static', 'pcv3__u1_all',
       'pcv3__u1_outreach', 'pcv3__u1_static', 'pnc_initiated_hiv',
       'pnc_tested_hiv', 'pnc_tested_hiv_positive', 'postnatal_visits',
       'sam_identified', 'tb_cases_registered', 'td1__nonpregnant',
       'td1__pregnant', 'td2__nonpregnant', 'td2__pregnant',
       'td3__nonpregnant', 'td3__pregnant', 'td4_5__nonpregnant',
       'td4_5__pregnant', 'tested_hiv', 'tested_hiv_positive', 'vitamin_a']]

In [71]:
df.head()

,districtname,date,year,month,orgUnit,type,1st_anc_visits,4th_anc_visits,actual_105_1_reporting,anc_initiated_hiv,...,td1__pregnant,td2__nonpregnant,td2__pregnant,td3__nonpregnant,td3__pregnant,td4_5__nonpregnant,td4_5__pregnant,tested_hiv,tested_hiv_positive,vitamin_a
0,WAKISO,2018-04-01,2018,Apr,A0KeWapELXA,,no_positive_indic,no_positive_indic,positive_indic,no_positive_indic,...,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic
1,WAKISO,2018-08-01,2018,Aug,A0KeWapELXA,,no_positive_indic,no_positive_indic,positive_indic,no_positive_indic,...,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic
2,WAKISO,2018-12-01,2018,Dec,A0KeWapELXA,,no_positive_indic,no_positive_indic,positive_indic,no_positive_indic,...,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic
3,WAKISO,2018-02-01,2018,Feb,A0KeWapELXA,,no_positive_indic,no_positive_indic,positive_indic,no_positive_indic,...,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic
4,WAKISO,2018-01-01,2018,Jan,A0KeWapELXA,,no_positive_indic,no_positive_indic,positive_indic,no_positive_indic,...,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic,no_positive_indic

In [72]:
df.to_csv(fname_new, index=False)